<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel= "stylesheet" href= "stylesheet.css">
	</head>
	<body>
		<div id="main">
			<div class="header" id="cart-header">
				<a href="#" @click="home">GKL - Gatrobe Knowledge Library</a>

				<cart-actions v-if="step == 1" v-bind:current-resource="currentResource"></cart-actions>
				<a href="#" v-if="step > 1" @click="step = step - 1">Prev Step</a>
				<a href="#" v-if="step < 3" @click="step = step + 1">Next Step</a>

				<cart-list></cart-list>
			</div>

			<template v-if="step === 1">

				<file-list ref="fileList" v-on:show="showResource"></file-list>

				<iframe id="viewer-frame" src="../pdfjs/web/viewer.html?file=" ></iframe>

			</template>
			<template v-if="step === 2">
				<preview-cart></preview-cart>
			</template>
			<template v-if="step === 3">

				<cart-summary></cart-summary>

				<cart-merged-view></cart-merged-view>

			</template>
			<script src="https://cdn.jsdelivr.net/npm/vue"></script>
			<script src="../pdfjs/build/pdf.js"></script>
			<script src="../pdflib_test/node_modules/pdf-lib/dist/pdf-lib.js" charset="utf-8"></script>

			<script src="credentials.js" charset="utf-8"></script>

			<script src="pageselection.js" charset="utf-8"></script>
			<script src="filelist.js" charset="utf-8"></script>
			<script src="minidav2.js" charset="utf-8"></script>
			<script src="cart.js" charset="utf-8"></script>
			<script src="main.js" charset="utf-8"></script>

			<script type="text/javascript">
				Vue.config.devtools = true
			</script>
		</div>
	</body>
</html>
