<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel= "stylesheet" href= "stylesheet.css">
		<link rel= "stylesheet" href= "node_modules/vue-material/dist/vue-material.min.css">
		<link rel="stylesheet" href="node_modules/roboto-fontface/css/roboto/roboto-fontface.css">
	</head>
	<body>
		<div id="main">
			<div class="header" id="cart-header">
				<a href="#" @click="home">GKL - Gatrobe Knowledge Library</a>

				<cart-actions v-if="step == 1" v-bind:current-resource="currentResource"></cart-actions>
				<a href="#" v-if="step > 1" @click="step = step - 1">Prev Step</a>
				<a href="#" v-if="step < 3" @click="step = step + 1">Next Step</a>

				<cart-list></cart-list>
			</div>

			<template v-if="step === 1">

				<file-list ref="fileList" v-on:show="showResource"></file-list>

				<iframe onload="modifyPDFJS(this)" id="viewer-frame" src="node_modules/pdfjs-dist-viewer-min/build/minified/web/viewer.html?file=" ></iframe>

			</template>
			<template v-if="step === 2">
				<preview-cart></preview-cart>
			</template>
			<template v-if="step === 3">

				<cart-summary></cart-summary>

				<cart-merged-view></cart-merged-view>

			</template>
		</div>

		// Node modules
		<script src="node_modules/vue/dist/vue.js"></script>
		<script src="node_modules/pdfjs-dist-viewer-min/build/minified/build/pdf.js"></script>
		<script src="node_modules/vue-material/dist/vue-material.min.js"></script>
		<script src="node_modules/pdf-lib/dist/pdf-lib.js" charset="utf-8"></script>


		<script src="credentials.js" charset="utf-8"></script>
		<script src="modify_pdfjs.js" charset="utf-8"></script>
		<script src="pageselection.js" charset="utf-8"></script>
		<script src="filelist.js" charset="utf-8"></script>
		<script src="minidav2.js" charset="utf-8"></script>
		<script src="cart.js" charset="utf-8"></script>
		<script src="main.js" charset="utf-8"></script>

		<script type="text/javascript">
			Vue.config.devtools = true
		</script>
	</body>
</html>
