<div class="md-layout md-gutter">
  <div class="md-layout-item md-size-33">
    <file-list ref="fileList" v-on:show="showResource"></file-list>
  </div>
  <div class="md-layout-item">
    <div v-if="currentResource !== null">
      <iframe onload="modifyPDFJS(this)" id="viewer-frame"
              src="{{ url_for('static', filename='node_modules/pdfjs-dist-viewer-min/build/minified/web/viewer.html', file='') }}"></iframe>
    </div>
    <div v-if="currentResource === null">
      <md-empty-state
              class="md-accent"
              md-icon="mood_bad"
              md-label="No file selected"
              md-description="Browse the directories and select a file you want to see">
      </md-empty-state>
    </div>

  </div>
</div>