<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel= "stylesheet" href= "{{ url_for('static', filename='custom.css')}}">
		<link rel= "stylesheet" href= "{{ url_for('static', filename='node_modules/vue-material/dist/vue-material.css')}}">
    <link rel= "stylesheet" href= "{{ url_for('static', filename='node_modules/vue-material/dist/theme/default-dark.css')}}">
    <link rel= "stylesheet" href= "{{ url_for('static', filename='node_modules/roboto-fontface/css/roboto/roboto-fontface.css')}}">
    <link rel= "stylesheet" href= "{{ url_for('static', filename='node_modules/material-design-icons/iconfont/material-icons.css')}}">
	</head>
	<body>
		<div id="main">
			<div class="page-container md-layout-column">
				<md-toolbar class="md-primary">
					<span class="md-title" ref="#" @click="home">
						GKL - Gatrobe Knowledge Library
					</span>

					<div class="md-toolbar-section-end">
						<md-button @click="showCart = true" class="md-icon-button">
							<md-icon>shopping_cart</md-icon>
						</md-button>
					</div>
				</md-toolbar>

				<md-drawer class="md-right" :md-active.sync="showCart" md-swipeable>
					<md-toolbar class="md-transparent" md-elevation="0">
						<span class="md-title">Cart</span>
					</md-toolbar>
					<cart-list></cart-list>
				</md-drawer>

				<md-content class="content">
					<md-steppers>
						<md-step id="first" md-label="Browse Lectures">
							<div class="md-layout md-gutter">
								<div class="md-layout-item md-size-33">
									<file-list ref="fileList" v-on:show="showResource"></file-list>
								</div>
								<div class="md-layout-item">
									<div v-if="currentResource !== null">
										<iframe onload="modifyPDFJS(this)" id="viewer-frame" src="{{ url_for('static', filename='node_modules/pdfjs-dist-viewer-min/build/minified/web/viewer.html', file='')}}"></iframe>
									</div>
									<div v-if="currentResource === null">
										<md-empty-state
											class="md-accent"
											md-icon="mood_bad"
											md-label="No file selected"
											md-description="Browse the directories and select a file you want to see">
										</md-empty-state>
									</div>

								</div>
							</div>
						</md-step>

						<md-step id="second" md-label="View Selected Pages">
							<preview-cart></preview-cart>
						</md-step>

						<md-step id="third" md-label="Export PDF">
							<md-empty-state
									v-if="cart.numberOfItems() === 0"
									class="md-accent"
									md-icon="warning"
									md-label="Empty Cart"
									md-description="You have no files in your cart">
							</md-empty-state>
							<div class="md-layout md-gutter" v-if="cart.numberOfItems() > 0">
								<div class="md-layout-item md-size-30">
									<h1 class="md-title">Summary</h1>
									<cart-summary></cart-summary>
								</div>
								<div class="md-layout-item">
									<cart-merged-view></cart-merged-view>
								</div>
							</div>
						</md-step>
					</md-steppers>
				</md-content>
			</div>
		</div>

		<script src="{{ url_for('static', filename='node_modules/vue/dist/vue.js')}}"></script>
    <script src="{{ url_for('static', filename='node_modules/pdfjs-dist-viewer-min/build/minified/build/pdf.js')}}"></script>
    <script src="{{ url_for('static', filename='node_modules/vue-material/dist/vue-material.js')}}"></script>
    <script src="{{ url_for('static', filename='node_modules/pdf-lib/dist/pdf-lib.js')}}"></script>

    <script src="{{ url_for('static', filename='credentials.js')}}"></script>
    <script src="{{ url_for('static', filename='modify_pdfjs.js')}}"></script>
    <script src="{{ url_for('static', filename='pageselection.js')}}"></script>
    <script src="{{ url_for('static', filename='filelist.js')}}"></script>
    <script src="{{ url_for('static', filename='minidav2.js')}}"></script>
    <script src="{{ url_for('static', filename='cart.js')}}"></script>
    <script src="{{ url_for('static', filename='main.js')}}"></script>

		<script type="text/javascript">
			Vue.config.devtools = true
		</script>
	</body>
</html>
