<md-list>
  <md-subheader>Terms and Conditions</md-subheader>
  <md-list-item>
    <md-avatar class="md-avatar-icon">1</md-avatar>
    <span class="md-list-item-text wrap-text">You are not allowed to take photos at any time!</span>
  </md-list-item>

  <md-list-item>
    <md-avatar class="md-avatar-icon">2</md-avatar>
    <span class="md-list-item-text wrap-text">Each copy costs 5 cents per page.</span>
  </md-list-item>

  <md-list-item>
    <md-avatar class="md-avatar-icon">3</md-avatar>
    <span class="md-list-item-text wrap-text">You have to deposit 15€ per course.</span>
  </md-list-item>

  <md-list-item>
    <md-avatar class="md-avatar-icon">4</md-avatar>
    <span class="md-list-item-text wrap-text">The deposit is returned to you after you have submitted your own report.</span>
  </md-list-item>

  <md-list-item>
    <md-avatar class="md-avatar-icon">5</md-avatar>
    <span class="md-list-item-text wrap-text">You have a maximum of one year to resubmit your own protocol.</span>
  </md-list-item>

  <md-list-item>
    <md-avatar class="md-avatar-icon">6</md-avatar>
    <span class="md-list-item-text wrap-text">Your protocol must be written on the computer! (We won’t accept hand-written or
          scanned/photographed protocols)</span>
  </md-list-item>

  <md-list-item>
    <md-avatar class="md-avatar-icon">7</md-avatar>
    <span class="md-list-item-text">We accept the protocol as PDF only!</span>
  </md-list-item>
</md-list>