<div class="md-layout md-gutter md-alignment-center">
  <div class="md-small-size-50 md-xsmall-size-100">
    <md-empty-state
            md-icon="school"
            md-label="Welcome to the Gatrobe Knowledge Library"
            md-description="Please take a moment to read the tutorial and the terms and conditions.">
    </md-empty-state>
  </div>
  <div class="md-small-size-50 md-xsmall-size-100">
    {% include 'terms_and_conditions.html' %}
  </div>
</div>

<div class="center">
  <h3>By using this service you agree to the terms and conditions.</h3>
</div>

